{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script defer src="{% static 'scripts/script.js' %}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav>  
        {% if user.is_authenticated %}
        <a href="/user/{{user.username}}">Hello, {{user.username}}!</a>
        <span> | </span>
        <a href="/accounts/logout">Logout</a>
        <span> | </span>
        {% else %}
        <span><a href="{% url 'login' %}">Login</a></span>
        <span> | </span>
        <span><a href="{% url 'signup' %}">SignUp</a></span>
        <span> | </span>
        {% endif %}
        <span> | </span>
        <a href="/">Home</a>
        <span> | </span>
        <a href="/admin">Admin</a>
        <span> | </span>
        <a href="/shop">All Shops</a>
        <span> | </span>
        <a href="/shop/new">Create a Shop</a>
        <span> | </span>
        <a href="/inventory">Inventory</a>
        <span> | </span>
        <a href="/inventory/new">Create Inventory</a>
        <span> | </span>
        <a href="/item">Item</a>
        <span> | </span>
        <a href="/item/new">Create Item</a>
    </nav>
    {% block nav %}
    {% endblock %}
 
    {% block body %}

        {% endblock %}

</body>
</html>