{% extends 'base.html' %} 
{% block body %}

<div class="wide-box center padding">

  <h1 class="header-ls"> Edit {{inventory.name}}</h1>
<hr>


<div class="update text-center">

  <a class="button button-details" href="{% url 'inventory_update' inventory.pk %}"><button class="btn btn-light">Edit {{inventory.name}}</button></a>
  <a class="button button-details" href="{% url 'inventory_delete' inventory.pk %}"><button class="btn btn-light">Delete {{inventory.name}}</button></a>
  
  </div>

</div>




{% endblock %}