{% extends 'base.html' %} 
{% block body %}

<div class="center">
 <div class="one-third column">&nbsp;</div>
<div class="one-third column"> 
 
   <h1 class="header-ls">Update {{item.name}}</h1>
   <hr>
   <form method="post">
     <!-- Security Feature  -->
     {% csrf_token %} 
     <!--  Generate inputs  -->
     {{form.as_p}} 
     <!--  Submit form  -->
     <div class="left-center">
      <input type="submit" value="Submit" />
     </div>
 </form>
<br>
   <a href="{% url 'shop_list' %}">go back</a>
 </div>


<div class="one-third column">&nbsp;</div>


</div>



{% endblock %}
