{% extends 'base.html' %} 
{% block body %}
{% load crispy_forms_tags %}

<div class="center">
 <div class="one-third column">&nbsp;</div>
<div class="one-third column"> 
  <div class="wide-box">
   <h1 class="header-ls">Update {{item.name}}</h1>
   <hr>
   <form method="post">
     <!-- Security Feature  -->
     {% csrf_token %} 
     <!--  Generate inputs  -->
     {{ form|crispy }}
     <!--  Submit form  -->
     <div class="left-center">
      <input class="form-control" type="submit" value="Submit" />
     </div>
 </form>
<br>
   <a href="{% url 'shop_list' %}">go back</a>
 </div>


<div class="one-third column">&nbsp;</div>


</div>

</div>

{% endblock %}
