{% extends 'base.html'%}

{% block body %}

<div class="container center wide-box">

    <h1 class="header-ls">{{owner.username}} Profile</h1>
    <hr>
    <div class="row">
        <div class="col box text-center">
          My Spaces
          <hr>
        <p class="text-center">??</p>
        </div>

        <div class="one-third column ">&nbsp;</div>

        <div class="col box text-center">
           Total Sales
          <hr>
        <p class="text-center">$$$</p>
        </div>

        <div class="one-third column">&nbsp;</div>
        
        <div class="col box text-center">
            Sold
            <hr>
          <p class="text-center">??</p>
        </div>

  
</div>

<div class="one-third column">&nbsp;</div>

<div class="mx-3">
    {% if owner != user %}
    <h1 class="header-ls">Spaces Coming Soon</h1>
    

    {% else %}
    <h1 class="header-ls">All of {{owner.username}} Spaces</h1>
    <hr>

{% endif %}
    {% if shops.count > 0 %}

    {% for shop in shops %}
    
        {% if shop.owner == user %}
    <ul class="list-group list-group-flush">
    <li class="list-group-item bg-transparent">{{ shop.name }}  <a href="{% url 'shop_detail' shop.id%}"><button class="float-right btn btn-light">modify {{shop.name}}</button></a> </li>
    {% if user.is_authenticated %}
   
        {% endif %}
    </ul>
        {% endif %}
        {% endfor %}
       

        {% else %}
        <div class="text-center">
   
            <h4 class="pg">{{user}} does not have any spaces</h1>
               
                {% if request.user == user %}
                <p>Would you like to create one?</p>
            <a href="{% url 'shop_create' %}"><button class="btn btn-light" >Create A Space</button></a>
            {% endif %}
        </div>

{% endif %}

</div>




</div>

{% endblock %}