
{% extends 'base.html' %} 
{% block body %}

<div class="center">
 <div class="one-third column">&nbsp;</div>
<div class="one-third column"> 
 
   <form action="" method="POST">
   
       <h4>Are you sure you want to delete <br><strong class="header-ls">{{ shop.name }}</strong>?</h4>

   <hr>
                           {% csrf_token %}
                           
                           <div class="text-center">
                            <input type="submit" value="Yes - Delete">
                            <a href="{% url 'shop_show' shop.id %}">Cancel</a>
                           </div>
                       
                       </form>
   
<br>
 </div>


<div class="one-third column">&nbsp;</div>


</div>



{% endblock %}
