{% extends 'base.html' %}
{% block title %}
Shop List
{% endblock %}

{% block body %}


<div class="position-absolute top-0 start-0 m-5 ">
      <div class="container">
            <div class="row">
                  {% for shop in shops %}
                  <div class="card col-md mx-3" style="width: 18rem;">
                        <img src="../static/media/300Logo.png" class="card-img-top" alt="shoplogo">
                        <div class="card-body">
                          <h5 class="card-title">{{shop.name}}</h5>
                          <h5 class="card-title">{{shop.owner}}</h5>
                          <p class="card-text">{{shop.description}}</p>
                          <a class="btn button-details" href="{% url 'shop_detail' shop.id%}"> View {{shop.name}}</a>   
                        </div>
                      </div>
                      {% endfor %}
            </div>
        </div>
<div>

    


   
  
{% endblock %}