{% extends 'base.html' %} 
 {% block body %}
 {% load crispy_forms_tags %}

<div class="center">
<div class=" one-third column"> 
  <div class="form-box">

    <h1 class="header-ls ">Create A Shop</h1>
    <hr>
    <form method="post" class="uniform form-group" enctype="multipart/form-data">
      <!-- Security Feature  -->
      {% csrf_token %} 
      <!--  Generate inputs  -->
      {{ form|crispy }}
      <!--  Submit form  -->
        <input class="form-control" type="submit" value="Submit" />
  </form>
<br>
    <a class="b-padding mx-3" href="{% url 'shop_list' %}">go back</a>
  </div>
  </div>



 
</div>



{% endblock %}
