{% extends 'base.html' %} 
{% block body %}
<!-- 
<div class="center">
  <div class="d-flex flex-row wide-box">

<div class="box">
  </div>
  -->

  <div class="container center form-box overflow-scroll">
  

<!-- HEADER -->
<div class="circle">
  <img src="">
<p class="header-ls">{{shop.name}}</p>
</div>
<hr>


<h6>space owned by: <a href="/user/{{shop.owner}}">{{shop.owner}}</a></h6>

<p>{{shop.description}}
<span class="b-padding"><a class=" float-right button-details btn" href="mailto:{{user.email}}">Contact Us</a></span>
</p>

<hr>

<!-- HEADER -->

<!-- SHOP ITEMS -->
<div class="one-third column overflow-scroll">

  <div class="row overflow-scroll">
  
      {% for inventory in shop.inventory.all %}
      {% for item in inventory.item.all %}
          <div class="card col-md mx-3" style="width: 18rem;">
                <img src="../../media/{{item.item_img}}" class="card-img-top" alt="{{item.item_img}}">
                <div class="card-body m5">
                  <h5 class="card-title">{{item.name}}</h5>
                  <h5 class="card-text">{{item.item_type}}</h5>
                  <p class="card-text">{{item.item_description}}</p>
                  <a class="btn button-details" href="{% url 'item_detail' item.id%}"> View {{item.name}}</a>   
                </div>
              </div>
              {% endfor %}
              
              {% endfor %}

             
              

</div>

<!-- SHOP ITEMS -->



</div>



<hr>

  <div class="right text-center">
    {% if shop.owner == user %}
    <h5> Modify {{shop.name}}</h5>
    <a href="{% url 'shop_update' shop.pk %}"><button class="btn btn-light" >Edit {{shop.name}}</button></a>
    <a href="{% url 'shop_delete' shop.pk %}"><button class="btn btn-light">Delete {{shop.name}}</button></a>
    <br>
    <br>
    <a href="{% url 'shop_update' shop.pk %}"><button class="btn btn-light">Assign Inventory to {{shop.name}}</button></a>
    <a href="{% url 'item_create' %}"><button class="btn btn-light">Add Item to {{shop.name}}</button></a>
    </div>

{% endif %}








{% endblock %}
